{% extends 'frontend/base.html' %}
{% load static %}
{% block title %} Program Details {% endblock title %}
{% block main-content %}

<div class="pharma-header">
    <div class=" container pharma-header-content" style="padding-top: 100px ;">
        <h2 class="text-white">{{this_program.program_name}}</h2>
        <p class="mt-3"><a href="/">Home > </a> <span> Program Details</span></p>
    </div>
  </div>
<div class="container">
  <h2 class="text-left p-3">Program's Details</h2>
  <hr color="black" style="height: 2px;">
  {% if messages %}
      <ul class="messages col-md-8">
          
          {% for message in messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert" {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
                  <strong >{{ message }}</strong> 
              </div>
          {% endfor %}
      </ul>
    {% endif %}
  <div class="row">
    <div class="col-md-4 text-center p-3">
      <i class="fas fa-chalkboard-teacher    mt-5" style="font-size: 10rem;"></i>
    </div>
    <div class="col-md-8">
      <div class="program-details p-3">
        <div class="header">
          <h4 class=""> <span>{{this_program.program_name}} Training Program</span></h4>
        </div>
        <hr style="height: 1px;">

        <div class="description">
          <h5>Program Description: </h5>
          <p>{{this_program.description}}</p>
        </div>
        <hr>
        <div class="duration">
          <h5>Program Duration: </h5>
          <p>{{this_program.duration}} days</p>
        </div>
        <hr>
        <a class="btn btn-sm btn-success w-25" href="#enroll" data-toggle="modal">Enroll Now</a>

        
        <!-- Enrollment  Modal -->
        <div class="modal fade" id="enroll" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Enroll for this program</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <form action="/request_program/" method="post">
                  {% csrf_token %}
                  <input type="hidden" name="user_id" value="{{user.company_id}}">
                  <input type="hidden" name="program_id" value="{{this_program.program_id}}">
                  <p>Confirm Enrollment of the {{this_program.program_name}} Training Program</p>
                  <div class="modal-footer">
                    
                    <button type="submit" class="btn btn-success btn-sm">Yes</button>
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
                  </div>
                </form>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>

{% endblock main-content %}