{% extends 'frontend/base.html' %}
{% load static %}
{% block title %}Homepage{% endblock title %}
{% block main-content %}
<div class="container">
  <h2 class="text-center p-5">OUR TRAINERS</h2>
  <link rel="stylesheet" href="/static/frontend/css/trainer.css" />
  <div class="row">
      {% for trainer in trainers %}
      <div class="col-md-4">
        <div class="trainer-card shadow">
          <img class="trainer-image" src="/static/frontend/images/img2.jpg" style="height:100px; width:100px;">
          {% comment %} <img src="{{ trainer.profile_image.url }}" alt="{{ trainer.name }}" class="trainer-image"> {% endcomment %}
          <h4>{{ trainer.name }}</h4>
          <span>Tel: {{ trainer.phone }}</span>
          <p>Experience: {{ trainer.expertise }} years</p>
          <p>{{ trainer.description }}</p> 
          <button class="btn btn-success">Contact Us</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock main-content %}