{% extends 'panel/base.html' %}
{% load static %}
{% block title %}Admin Dashboard|Company{% endblock title %}


{% block content %}
<div class=" container inner-content">

  <!-- links or buttons -->
  <a href="/adminpanel/add_client" class="btn btn-success btn-md">Add Client</a>
  <a href="/adminpanel/view_client" class="btn btn-success btn-md">View Client</a>
  <!-- links or buttons -->
  

  <!-- table for the clients -->
  <div class="table-section mt-3">
    <table class="table" id="table" border="1">
      <thead>
        <tr>
          <th>#</th>
          <th>Profile Image</th>
          <th>Company Name</th>
          <th>Company Location</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Company Type</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row"></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a href=""><i class="fas fa-edit    text-primary"></i></a>
            <a href=""><i class="fas fa-trash    text-danger"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- table for the clients -->

      
</div>
{% endblock content %}