{% extends 'panel/base.html' %}
{% load static %}
{% block title %}Admin Dashboard|Categories{% endblock title %}


{% block content %}
<div class="container inner-content">
    <h4>Add Program Category</h4>
    <form class="form" method="post" action="{% url 'add_programcategory' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="category_name">Category Name</label>
        <input type="text" class="form-control" id="category_name" name="category_name" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Program Category</button>
    </form> 
</div>
{% endblock content %}